body {
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 100%;
  line-height: 1.375;
  background-color: #f1f1f1;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
h1 em,
.h1 em,
h2 em,
.h2 em,
h3 em,
.h3 em,
h1 i,
.h1 i,
h2 i,
.h2 i,
h3 i,
.h3 i {
  font-family: "AvenirNextLTW01-Italic", Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}
.lt-ie9 h1 em,
.lt-ie9 .h1 em,
.lt-ie9 h2 em,
.lt-ie9 .h2 em,
.lt-ie9 h3 em,
.lt-ie9 .h3 em,
.lt-ie9 h1 i,
.lt-ie9 .h1 i,
.lt-ie9 h2 i,
.lt-ie9 .h2 i,
.lt-ie9 h3 i,
.lt-ie9 .h3 i {
  font-style: normal !important;
}
h1 strong,
.h1 strong,
h2 strong,
.h2 strong,
h3 strong,
.h3 strong,
h1 b,
.h1 b,
h2 b,
.h2 b,
h3 b,
.h3 b {
  font-family: "AvenirNextLTW01-Demi", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
}
.lt-ie9 h1 strong,
.lt-ie9 .h1 strong,
.lt-ie9 h2 strong,
.lt-ie9 .h2 strong,
.lt-ie9 h3 strong,
.lt-ie9 .h3 strong,
.lt-ie9 h1 b,
.lt-ie9 .h1 b,
.lt-ie9 h2 b,
.lt-ie9 .h2 b,
.lt-ie9 h3 b,
.lt-ie9 .h3 b {
  font-weight: normal !important;
}
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.47058824em;
  font-size: 2.125em;
  line-height: 1.29411765;
}
@media only all and (max-width: 37.4375em) {
  h1,
  .h1 {
    font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.73076923em;
    font-size: 1.625em;
    line-height: 1.26923077;
  }
  h1 em,
  .h1 em,
  h1 i,
  .h1 i {
    font-family: "AvenirNextLTW01-Italic", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
  }
  .lt-ie9 h1 em,
  .lt-ie9 .h1 em,
  .lt-ie9 h1 i,
  .lt-ie9 .h1 i {
    font-style: normal !important;
  }
  h1 strong,
  .h1 strong,
  h1 b,
  .h1 b {
    font-family: "AvenirNextLTW01-Demi", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
  }
  .lt-ie9 h1 strong,
  .lt-ie9 .h1 strong,
  .lt-ie9 h1 b,
  .lt-ie9 .h1 b {
    font-weight: normal !important;
  }
}
@media only all and (max-width: 37.4375em) and only all and (max-width: 37.4375em) {
  h1,
  .h1 {
    font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.95454545em;
    font-size: 1.375em;
    line-height: 1.27272727;
  }
  h1 em,
  .h1 em,
  h1 i,
  .h1 i {
    font-family: "AvenirNextLTW01-Italic", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
  }
  .lt-ie9 h1 em,
  .lt-ie9 .h1 em,
  .lt-ie9 h1 i,
  .lt-ie9 .h1 i {
    font-style: normal !important;
  }
  h1 strong,
  .h1 strong,
  h1 b,
  .h1 b {
    font-family: "AvenirNextLTW01-Demi", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
  }
  .lt-ie9 h1 strong,
  .lt-ie9 .h1 strong,
  .lt-ie9 h1 b,
  .lt-ie9 .h1 b {
    font-weight: normal !important;
  }
}
@media only all and (max-width: 37.4375em) and only all and (max-width: 37.4375em) and only all and (max-width: 37.4375em) {
  h1,
  .h1 {
    margin-top: 0;
    margin-bottom: 1.16666667em;
    font-size: 1.125em;
    font-family: "AvenirNextLTW01-Medium", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.22222222;
  }
  .lt-ie9 h1,
  .lt-ie9 .h1 {
    font-weight: normal !important;
  }
}
h2,
.h2 {
  margin-top: 0;
  margin-bottom: 0.73076923em;
  font-size: 1.625em;
  line-height: 1.26923077;
}
@media only all and (max-width: 37.4375em) {
  h2,
  .h2 {
    font-family: "AvenirNextLTW01-Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.95454545em;
    font-size: 1.375em;
    line-height: 1.27272727;
  }
  h2 em,
  .h2 em,
  h2 i,
  .h2 i {
    font-family: "AvenirNextLTW01-Italic", Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
  }
  .lt-ie9 h2 em,
  .lt-ie9 .h2 em,
  .lt-ie9 h2 i,
  .lt-ie9 .h2 i {
    font-style: normal !important;
  }
  h2 strong,
  .h2 strong,
  h2 b,
  .h2 b {
    font-family: "AvenirNextLTW01-Demi", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
  }
  .lt-ie9 h2 strong,
  .lt-ie9 .h2 strong,
  .lt-ie9 h2 b,
  .lt-ie9 .h2 b {
    font-weight: normal !important;
  }
}
@media only all and (max-width: 37.4375em) and only all and (max-width: 37.4375em) {
  h2,
  .h2 {
    margin-top: 0;
    margin-bottom: 1.16666667em;
    font-size: 1.125em;
    font-family: "AvenirNextLTW01-Medium", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.22222222;
  }
  .lt-ie9 h2,
  .lt-ie9 .h2 {
    font-weight: normal !important;
  }
}
h3,
.h3 {
  margin-top: 0;
  margin-bottom: 0.95454545em;
  font-size: 1.375em;
  line-height: 1.27272727;
}
@media only all and (max-width: 37.4375em) {
  h3,
  .h3 {
    margin-top: 0;
    margin-bottom: 1.16666667em;
    font-size: 1.125em;
    font-family: "AvenirNextLTW01-Medium", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.22222222;
  }
  .lt-ie9 h3,
  .lt-ie9 .h3 {
    font-weight: normal !important;
  }
}
h4,
.h4 {
  margin-top: 0;
  margin-bottom: 1.16666667em;
  font-size: 1.125em;
  font-family: "AvenirNextLTW01-Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.22222222;
}
.lt-ie9 h4,
.lt-ie9 .h4 {
  font-weight: normal !important;
}
h5,
h6,
.h5,
.h6 {
  font-family: "AvenirNextLTW01-Demi", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.lt-ie9 h5,
.lt-ie9 h6,
.lt-ie9 .h5,
.lt-ie9 .h6 {
  font-weight: normal !important;
}
h5,
.h5 {
  margin-top: 0;
  margin-bottom: 0.35714286em;
  font-size: 0.875em;
  line-height: 1.57142857;
}
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.41666667em;
  font-size: 0.75em;
  line-height: 1.83333333;
}
.superheader {
  margin-bottom: 0.1875em;
  font-size: 3em;
  font-family: "AvenirNextLTW01-Demi", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.25;
}
.lt-ie9 .superheader {
  font-weight: normal !important;
}
