
#layout {
    background-color: #444;
}

#nav {
    background-color: #bdbdbd;
}

#list {
    background-color: #e9e9e9;
}

#list-header {
    background-color: #dbdbdb;
    z-index: 2;
}

#main {
    background-color: #777;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */

#layout,
#nav,
#list,
#list-header,
#main {
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    height: 24em;
    position: relative;
}

#list-header {
    width: 100%;
    height: 2.5em;
    position: relative;
    border-bottom: 2px solid #bdbdbd;
}

#list {
    top: 29em;
    height: 100%;
    border-top: 1px solid #bdbdbd;
}

/* Make the navigation 100% width on phones */

#nav {
    width: 100%;
    height: 2.5em;
    position: relative;
    text-align: center;
}

/* Show the "Menu" button on phones */

#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */

#nav.active {
    height: 80%;
}

/* Don't show the navigation items... */

.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */

#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}

/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */

#nav .pure-menu.pure-menu-open {
    background: transparent;
    border: none;
    text-align: left;
}

#nav .pure-menu a:hover,
#nav .pure-menu a:focus {
    background: rgb(55, 60, 90);
}

#nav .pure-menu a {
    color: #fff;
    margin-left: 0.5em;
}

#nav .pure-menu-heading {
    border-bottom: none;
    font-size: 110%;
    color: rgb(75, 113, 151);
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:500px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list, #list-header {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-500px; /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list, #list-header {
        margin-left: -350px;
        width: 100%;
    }

    #list {
        height: 160px;
        top: 4em;
        border-bottom: 1px solid #bdbdbd;
    }

    #list-header {
        height: 4em;
    }

    #main {
        position: fixed;
        top: 30%;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
        height: 70%;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list, #list-header {
        margin-left: -350px;
        width:350px;
    }

    #list {
        top: 10em;
        height: auto;        
    }

    #list-header {
        height: 8em;
        padding-top: 2em;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        /*position: static;*/
        top: 0;
        margin: 0;
        padding: 0;
        margin-left: 350px;
        height: 100%;
    }
}