html {
    height: 100%;
    padding: 0;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#solo_map_container {
    width: 75%;
    height: 100%;
    float: left;
}

#info_box {
    pointer-events: none;
    position: absolute;
    padding: 30px;
    top: 0;
    left: 25%;
    z-index: 10;
}

/*#kelurahan_title{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 3em;
    color: black;
}*/

/*#kelurahan_name{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 2em;
    color: black;
}*/

#info_container{
    height: 100%;
    width: 25%;
    float: left;
}

h1, h2, h3, h4, h5, h6, ul, li, a {
    margin: 0;
}

/*============TYPOGRAPHY============*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

h5, h6 {
    font-weight: 500;
}

h1.caps, h2.caps, h3.caps, h4.caps, h5.caps, h6.caps {
    text-transform: uppercase;
    letter-spacing: 5px;    
}

h1 {
    font-size: 2.5000em; /* 40px */
    line-height: 1.0500em; /* 42px */
}
h2 {
    font-size: 2.0000em; /* 32px */
    line-height: 1.3125em; /* 42px */
}
h3 {
    font-size: 1.7500em; /* 28px */
    line-height: 1.5000em; /* 42px */
}
h4 {
    font-size: 1.5000em; /* 24px */
    line-height: 1.7500em; /* 42px */
}
h5 {
    font-size: 1.1250em; /* 18px */
    line-height: 1.5em; /* 21px */
}
h6 {
    font-size: 1.0000em; /* 16px */
    line-height: 1.3125em; /* 21px */
}

h1.serif, h2.serif, h3.serif, h4.serif, h5.serif, h6.serif {
    font-family: 'Lora', Georgia, serif;
}

p {
    font-family: 'Lora', Georgia, serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #808080;
}


/*============PROJECT LIST ACCORDION============*/

#list-header h4 {
    margin: 0 1em;
    padding: auto 0;
}

#list ul {
    list-style-type: none;
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

#list ul li {
    display: block;
    position: relative;
    clear: both;
    border-bottom: 1px solid #bdbdbd;
    background-color: #e0e0e0;
}

#list ul li label {
    display: block;
    position: relative;
    /*float: left;*/
    width: 100%;
    z-index: 20;
    cursor: pointer;
}

#list ul li label:hover{
    background: #dbdbdb;
}

#list ul li label .icon-block {
    display: inline-block;
    width: 60px;
    height: 60px;
    float: left;
    background-color: #d3d3d3;
}

#list ul li label .text-block {
    display: inline-block;
    max-width: 260px;
    height: 60px;
    padding-left: 0.5em;
}

#list ul li label .text-block h6 {
    margin-top: 0.675em;
    color: black;
    font-weight: 500;
}

#list ul li input:checked + label,
#list ul li input:checked + label:hover{
    background: #d7d7d7;
    color: #3d7489;
}

#list ul li label:hover:after,
#list ul li input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../img/arrow_down.png) no-repeat center center; 
}

#list ul li input:checked + label:hover:after{
    background-image: url(../img/arrow_up.png);
}

#list ul li input{
    display: none;
}

#list ul li article{
    /*margin-top: -1px;*/
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

#list ul li article p{
    padding: 20px;
}

#list ul li input:checked ~ article{
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}

#list ul li input:checked ~ article.ac-small{
    height: 140px;
}

#list .icon-block.i-air {
    background: transparent url(../img/svg/solo_air.svg) no-repeat center center;   
}
#list .icon-block.i-drainasi {
    background: transparent url(../img/svg/solo_drainasi.svg) no-repeat center center;  
}
#list .icon-block.i-informasi {
    background: transparent url(../img/svg/solo_informasi.svg) no-repeat center center; 
}
#list .icon-block.i-jalan {
    background: transparent url(../img/svg/solo_jalan.svg) no-repeat center center; 
}
#list .icon-block.i-listrik {
    background: transparent url(../img/svg/solo_listrik.svg) no-repeat center center;   
}
#list .icon-block.i-sampah {
    background: transparent url(../img/svg/solo_sampah.svg) no-repeat center center;    
}
#list .icon-block.i-sanitasi {
    background: transparent url(../img/svg/solo_sanitasi.svg) no-repeat center center;  
}
#list .icon-block.i-liannyn {
    background: transparent url(../img/svg/solo_lainnyn.svg) no-repeat center center;   
}