html {
    height: 100%;
    padding: 0;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#solo_map_container {
    width: 75%;
    height: 100%;
    float: left;
}

#info_box {
    pointer-events: none;
    position: absolute;
    padding: 30px;
    top: 0;
    left: 25%;
    z-index: 10;
}

/*#kelurahan_title{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 3em;
    color: black;
}*/

/*#kelurahan_name{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 2em;
    color: black;
}*/

#info_container{
    height: 100%;
    width: 25%;
    float: left;
}

h1, h2, h3, h4, h5, h6, ul, li, a {
    margin: 0;
}

/*============SROLLBAR============*/
.swiper-scrollbar {
    height:100%;
    margin:20px auto;
    width: 10px;
    background: none;
    position: absolute;
    right: 3px;
    top: 0;
    height: 100%;
    width: 5px;
    display: inline-block;
}

/*============TYPOGRAPHY============*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

h5, h6 {
    font-weight: 500;
}

h1.pcaps, h2.pcaps, h3.pcaps, h4.pcaps, h5.pcaps, h6.pcaps {
    text-transform: uppercase;
    letter-spacing: 5px;    
}

h1 {
    font-size: 2.5000em; /* 40px */
    line-height: 1.0500em; /* 42px */
}
h2 {
    font-size: 2.0000em; /* 32px */
    line-height: 1.3125em; /* 42px */
}
h3 {
    font-size: 1.7500em; /* 28px */
    line-height: 1.5000em; /* 42px */
}
h4 {
    font-size: 1.5000em; /* 24px */
    line-height: 1.7500em; /* 42px */
}
h5 {
    font-size: 1.1250em; /* 18px */
    line-height: 1.5em; /* 21px */
}
h6 {
    font-size: 1.0000em; /* 16px */
    line-height: 1.3125em; /* 21px */
}

h1.serif, h2.serif, h3.serif, h4.serif, h5.serif, h6.serif {
    font-family: 'Lora', Georgia, serif;
}

p {
    font-family: 'Lora', Georgia, serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #808080;
}

/*===============COLORS=================*/
.pc-AR {
    background-color: #003951;
 }
.pc-DR {
    background-color: #7FA6B2;
}
.pc-IC {
    background-color: #B65B46;
}
.pc-JA {
    background-color: #4C4320;
}
.pc-LS { 
    background-color: #E7922A;
}
.pc-SM {
    background-color: #601D00;
}
.pc-SA {
    background-color: #573649;
}
.pc-SR {
    background-color: #C0B58F;
}

/*=== KELURAHAN LIST ===*/
#list > div {
    padding: 10px 10px 40px 10px;
    border-bottom: 1px solid #b6b6b6;
}
#list > div:hover {
    background-color: #e1e1e1;
    cursor:pointer;
}
#list > div p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

/*============PROJECT LIST ACCORDION============*/

#list-header h4 {
    margin: 0 1em;
    padding: auto 0;
}

#list ul {
    list-style-type: none;
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

#list ul li {
    display: block;
    position: relative;
    clear: both;
    /*border-bottom: 1px solid #D4D2CB;*/
}

#list ul li label {
    display: block;
    position: relative;
    /*float: left;*/
    width: 100%;
    z-index: 20;
    cursor: pointer;
    opacity: 0.85;
}

#list ul li label:hover{
    /*background: #dbdbdb;*/
}

#list ul li label .icon-block {
    display: inline-block;
    width: 60px;
    height: 60px;
    float: left;
}

.state_icons_container {
    display: inline-block;
    float: right;
    width: 3em;
    padding-top: 0.25em;
}
.state_icons_container img {
    width: 1.5em;
}

#list ul li label .text-block {
    display: inline-block;
    max-width: 230px;
    height: 60px;
    padding-left: 0.5em;
}

#list ul li label .text-block h6 {
    margin-top: 0.675em;
    color: white;
    font-weight: 400;
}

#list ul li input:checked + label,
#list ul li input:checked + label:hover{
    /*background: #d7d7d7;
    color: #3d7489;*/
    opacity: 1;
}

#list ul li input:not(:checked) + label:hover{
    opacity: 0.65;
}

#list ul li label:hover:after,
#list ul li input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../img/arrow_down.png) no-repeat center center; 
}

#list ul li input:checked + label:hover:after{
    background-image: url(../img/arrow_up.png);
}

#list ul li input{
    display: none;
}

#list ul li article{
    /*margin-top: -1px;*/
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

#list ul li article p{
    padding: 0px 20px;
}

#list ul li input:checked ~ article{
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}

#list ul li input:checked ~ article.ac-small{
    height: 140px;
}
.icon-block {
    background: rgba(0,0,0,0.1);
}

/*============FILTERS============*/

#filter_conditions {
    padding: 0 15px;
}
#filter_conditions div {
    margin: 0 0 10px 0;
}

/*============YEAR SELECTOR============*/

.ui-buttonset p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.675em;
    font-weight: 600;
    color: #222;
    padding: 0;
    margin: 1px auto 0;
}

#tools_container {
    background-color: transparent;
    border-color: transparent;
}

/*#year-selector label.year-button {
    width: auto;
    height: 100%;
    position: relative;
    font-size: 0.875em;
    background-color: #e9e9e9;
    text-decoration: none;
    color: #111;
    float: left;
    padding: 8px 16px;
    border-left: 1px solid rgba(255,255,255,0.25);
}

#year-selector label.year-button:hover {
    background-color: #444;
    color: #fff;
}

#year-selector label.year-button:active {
    background-color: #111;
}*/

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-widget {
    font-family: "Raleway",Verdana,Arial,sans-serif;
    font-size: 1em;
}
.ui-button-text-only .ui-button-text {
    padding: .25em 0.75em;
}

/* Interaction states (for the year selector)
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border-left: 1px solid #3D3D3D;
    border-top: 0px;
    border-bottom: 0px;
    background: #222222;
    font-weight: normal;
    color: #ffffff;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #000;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background: #A6A939;
}
.ui-state-active:hover {
    background: #747628; 
}
.ui-corner-left {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.ui-corner-right {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}